/* TODO: import fonts */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Handy spinner class for use with react-icons spinners */
.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
